extends layout

block content 
  div.container 
    h1= `Page Not Found`
    p.not-found-p= `Sorry! We couldn't find the page you were looking for.`

    a.home(href='/') Home

    if err 

      div.not-found-stack 
        pre #{err.stack}

